__pycache__/
*.py[cod]
.venv/
venv/
env/
.vscode/
.idea/
.DS_Store
Thumbs.db
build/
dist/
*.spec
.pytest_cache/
.coverage
htmlcov/
*.log
*.tmp
*.bak
output/*
!output/
!output/.gitkeep

docs/UI_[2-5].png
docs/UI_7.png
docs/UI_9.png
docs/UI_[11-12].png
